<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.gbos.cordova.plugin.updatecheck"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/UpdateCheck.js" target="js/UpdateCheck.js"/>

  <js-module src="www/UpdateCheck.js" name="UpdateCheck">
    <clobbers target="UpdateCheck" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UpdateCheck">
        <param name="android-package" value="com.gbos.cordova.plugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/UpdateCheck.java" target-dir="src/com/gbos/cordova/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="UpdateCheck">
        <param name="ios-package" value="UpdateCheck" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/UpdateCheck.h" target-dir="UpdateCheckPlugin"/>
    <source-file src="src/ios/UpdateCheck.m" target-dir="UpdateCheckPlugin"/>
  </platform>

  <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdateCheck">
              <param name="android-package" value="com.gbos.cordova.plugin.UpdateCheck" />
              <param name="onload" value="true" />
          </feature>
        </config-file>

        <source-file src="com/gbos/cordova/plugin/UpdateCheck.java" target-dir="com/gbos/cordova/plugin" />
    </platform>



</plugin>